body {
    margin: 0;
    /* background-color: #1c1c1e; */
    background-image: url('../img/sparks.png');
    /* display: flex;
    align-items: center;
    flex-direction: column; */
}

h1 {
    color: #e9e2bf;
}

#tankName {
    text-align: center;
}

/* .tankImage {
    width: 20rem;
} */